body{
    background-color: #ff9a9e;
    margin-left: 20px;
    font-size: large;
    color: brown;
}
h1{
    border:1px solid black;
    background-color:#fad0c4;   
    border-radius: 6px;
    text-align: center;
}

.logo{
    text-align:center;
}